<!DOCTYPE html>
<html>

<head>
    <title>Play Chess - SignIn</title>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>
    <script src="./../../Scripts/ourScripts/account.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../Content/ourContent/mainPage.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="./../../Content/ourContent/mainPage.css">
    <script src="./../../Scripts/ourScripts/account.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <div class="row">
        <div class="col-xs-12 btn-group text-center">
            <button class="btn loginbtn" id="login-btn">Log In</button>
            <button class="btn signinbtn" id="signin-btn">Sign In</button>
        </div>
    </div>
    <!-- LogIn Form -->
    <div class="row">
        <div id="Login" class="col-md-4 login-signin-form closeform col-md-offset-4">
            <div class="box">
                <h2 class="col-xs-12 text-center">Log in</h2>
                <input class="col-xs-12 iteminform" type="text" placeholder="username" id="loginusrn">
                <input class="col-xs-12 iteminform" type="text" placeholder="e-mail" id="loginemail">
                <input class="col-xs-12 iteminform" type="password" placeholder="Password" required="required" id="loginpass">
                <button class="btn btn-signin btn-block col-xs-12" style="margin-bottom: 20px" onclick="login()">Log in</button>
            </div>
        </div>
    </div>
    <!-- SignIn Form -->
    <div class="row">
        <div id="Signin" class="col-md-4 login-signin-form closeform col-md-offset-4">
            <div class="box">
                <h2 class="col-xs-12 text-center">Sign in</h2>
                <input class="col-xs-12 iteminform" type="text" placeholder="username" required="required" id="signinusrn">
                <input class="col-xs-12 iteminform" type="text" placeholder="e-mail" required="required" id="signinemail">
                <input class="col-xs-12 iteminform" type="password" placeholder="Password" required="required" id="signinpass">
                <button class="btn btn-signin btn-block col-xs-12" style="margin-bottom: 20px" onclick="signin()">Sign in</button>
            </div>
        </div>
    </div>
</body>
</html>