@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wizard Chess</title>

    <!-- Bootstrap core JavaScript -->
    <script src="./../../Content/TemplateHomePage/startbootstrap-stylish-portfolio-gh-pages/vendor/jquery/jquery.js"></script>


    <!-- Custom scripts for this template -->
    <script src="./../../Content/TemplateHomePage/startbootstrap-stylish-portfolio-gh-pages/js/stylish-portfolio.js"></script>

    <!-- Bootstrap Core CSS -->
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="./../../Content/TemplateHomePage/startbootstrap-stylish-portfolio-gh-pages/css/stylish-portfolio.css" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!-- <script src="./../../Scripts/ourScripts/board.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body id="page-top">

    <!-- Navigation -->
    @*<a class="menu-toggle rounded">
        <i class="fas fa-bars"></i>
    </a>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="#page-top">Home</a>
                </li>
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="#chessinfo">Interesting facts about chess</a>
                </li>
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="#offer">What do we offer?</a>
                </li>
            </ul>
        </div>
    </div>*@

    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center" style="margin-top: 220px !important;">
            <h1 class="mb-1">Wizard Chess</h1>
            <h3 class="mb-5" style="color: #fff">
                <em>Don't let the muggles get you down...</em>
            </h3>
            <a class="btn btn-findoutmore btn-xl js-scroll-trigger" href="#chessinfo">Find Out More</a>
        </div>
        <div class="overlay"></div>
    </header>

    <!-- Chess Info -->
    <section class="content-section bg-light" id="chessinfo">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h2>17 Facts about Chess</h2>
                    <p class="lead mb-5n quote"> “It was like when you make a move in chess and just as you take your finger off the piece, you see the mistake you’ve made, and there’s this panic because you don’t know yet the scale of disaster you’ve left yourself open to.”</p>
                    <ol>
                        <li>The longest game of chess that is possible is of 5,949 moves.</li>
                        <li>The longest game lasted for 269 moves and ended in a draw.</li>
                        <li>The word “checkmate” comes from the Arabic word “shah mat” which translates to “The king is dead” in English.</li>
                        <li>The new move where the pawn could move two steps instead of one was introduced in Spain in 1280.</li>
                        <li>A German named Dr. Emanuel Lasker retained the Champion title for the most time: 26 years and 337 day</li>
                        <li>The modern chess board as we see it today appeared first in Europe in 1090.</li>
                        <li>The first mechanical clock to be used instead of sand glass was invented by Thomas Wilson in 1883. The modern push button clock was introduced by Veenhoff in 1900.</li>
                        <li>The folding Chess board was invented in 1125 by a Chess-playing priest. Since the Church forbids priests to play Chess, he hid his Chess board by making it to look like two books lying together.</li>
                        <li>Players in their first year are called “Rookies”. This name came up from the last pieces of chess to move into action called “Rooks”.</li>
                        <li>The second book to be ever printed in English language was about Chess.</li>
                        <li>Alan Turing developed the first computer program for playing chess was developed in 1951. However, no computer was powerful enough to process it, so Turing tested it by doing the calculations himself and playing according to the results, taking several minutes per move.</li>
                        <li>The first chess game between space and earth was in June, 1970 by the Soyez-9 crew. Though the game ended in draw, it sure did make headlines.</li>
                        <li>A computer called Deep Thought became the first of its kind to beat an international maestro in November 1988, Long Beach, California.</li>
                        <li>Are you aware of the fact that the number of possible ways of playing the first four moves for both sides in a game of chess is 318,979,564,000?</li>
                        <li>Chess is also called the “Game of Kings” since for a very long time in the past, it was just played by the Nobel and Kings.</li>
                        <li>The shortest number of moves to achieve checkmate is just two moves! One sequence is called “Fool’s mate runs” Thus, 1. g4 e5 and 2. f4 Qh4 checkmate.</li>
                        <li>The chess master to have won the World Championship in all three formats (knockout, tournament and match) is Vishwanathan Anand from India.</li>
                    </ol>
                    <a class="btn btn-whatdoweoffer btn-xl js-scroll-trigger" href="#offer">What We Offer</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Offer -->
    <section class="content-section bg-primary text-white text-center" id="offer">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h2>What we offer?</h2>
                    <p class="lead mb-5n quote"> “Tipical chess game with not so tipical figures and lot of fun..so join us”</p>
                    <a class="btn btn-login btn-xl js-scroll-trigger" href="@Url.Action("Index", "LoginDisplay")">Join us</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</body>

</html>
