<!DOCTYPE html>
<html>

<head>
    <title>Successful LogOut</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script src="./../../Scripts/ourScripts/board.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="./../../Content/ourContent/mainPage.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body class="user-body">
    <img src="./../../Content/ourContent/img/Logo.svg" alt="Logo img" style="width: 20%;">
    <div class="usebox">
        <h4 class="succeslogtext">Successful Logout - Hope to see you again</h4>
        <button class="btn btn-backhome" href="@Url.Action("Index", "LandingPage")">Go To Home Page</button>
    </div>
</body>
</html>