<html>
<head>
    <title>Statistics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script src="./../../Scripts/ourScripts/board.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="./../../Content/ourContent/mainPage.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <!-- Navbar -->
    <div>
        <ul>
            <li><a href="#play">Play</a></li>
            <li><a href="#learn">Learn</a></li>
            <li><a class="active" href="#statistic">Statistics</a></li>
            <li><a href="#help">Help</a></li>
        </ul>
    </div>

    <h1 style="padding:20px"><i class="fa fa-line-chart" style="font-size:36px"></i> Statistic</h1>
    <h2 style="text-align: center"><i class="fa fa-users" style="font-size:24px"></i> 1000 players this week </h2>
    <h2 style="text-align: center"> The top 10 players</h2>
    <!-- Best Players -->
    <div class="col-lg-4"></div>
    <div class="col-lg-4 col-centered" style="width:50%; margin-left:28%">
        <table id="bestplayers" class="w3-table-all">
            <thead>
                <tr class="w3-white">
                    <th>Player</th>
                    <th>MMR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jill</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>2250</td>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>2200</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4"></div>

</body>
</html>