

<!DOCTYPE html>
<html>
<head>
    <title>Play Chess</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>
    <script src="./../../Scripts/ourScripts/board.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../Content/ourContent/mainPage.css" />
</head>
<body>
    <!-- Navbar -->
    <div>
        <ul>
            <li><a class="active" href="#play">Play</a></li>
            <li><a href="#learn">Learn</a></li>
            <li><a href="#statistic">Statistic</a></li>
            <li><a href="#help">Help</a></li>
        </ul>
    </div>
    <!-- Chessboard -->
    <table id='chessboard'></table>
</body>
</html>
