<!DOCTYPE html>
<html>
<head>
    <title>Play Chess</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script src="./../../Scripts/ourScripts/board.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../Content/ourContent/mainPage.css" />

</head>
<body>
    <div class="row">
        <!-- Chessboard -->
        <div class="col-lg-6">
            <table id='chessboard'></table>
        </div>

        <div class="col-lg-6">
            <div class="row">
                <div class="firstuser"><p style="font-weight:bold"><i class="fa fa-rightmarg fa-user"></i>MARKO</p></div>
                <div class="textbox"></div>
                <div class="seconduser"><p style="font-weight:bold"><i class="fa fa-rightmarg fa-user"></i>JANA</p></div>
            </div>
        </div>

        <div class="checkmate" style="display:none">
            <p class="winning">Congratulation!!!<br /> Player A Won</p>
            <div class="before"></div>
            <div class="after"></div>
        </div>
    </div>
</body>
</html>