<!DOCTYPE html>
<html>
<head>
    <title>Play Chess</title>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script src="./../../Scripts/ourScripts/board.js"></script>
    <link type="text/css" rel="stylesheet" href="./../../Content/ourContent/mainPage.css" />*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script src="./../../Scripts/ourScripts/board.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="./../../Content/ourContent/mainPage.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <div class="row">
        <!-- Chessboard -->
        <div class="col-lg-6">
            <table id='chessboard'></table>
        </div>

        <div class="col-lg-6">
            <div class="row">
                <div class="firstuser"><p style="font-weight:bold"><i class="fa fa-rightmarg fa-user"></i>MARKO</p></div>
                <div class="textbox"></div>
                <div class="seconduser"><p style="font-weight:bold"><i class="fa fa-rightmarg fa-user"></i>JANA</p></div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-default" type="button" onclick="loadcustom()">custom boardstate</button>
            </div>
        </div>


        <div id="result" class="checkmate nonvisibleresult">
            <p id="wintext" class="winning">Congratulation!!!<br />YOU Won</p>
            <div class="before"></div>
            <div class="after"></div>
        </div>
    </div>
</body>
</html>