
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>testView</title>

    <script src="../../Scripts/jquery-3.3.1.min.js"></script>
</head>

<body>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/api/values/5",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#addHere").html(JSON.stringify(data));
                    alert(JSON.stringify(data));
                },
                failure: function (data) {
                    alert("shit");
                },
                error: function (data) {
                    alert("shitshit");
                }
            });
        });
    </script>
    <div>
        <p id="addHere">fuck</p>
    </div>
</body>
</html>
