* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8ca3a3 !important;
}

.user-body {
    margin-top: 5% !important;
    margin: 50px 0;
    padding: 0;
    text-align: center;
}

/*other tags*/
a {
    color: #000 !important;
    text-decoration: none;
}

hr {
    background-color: #000;
}

.form-textbreak {
    text-align: center;
    text-decoration: underline !important;
}

.logoimg {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.succeslogtext {
    font-weight: bold;
    font-style: italic;
    padding-left:5px;
    padding-right:5px;
}

/* Navbar */
.navbar-inverse {
    background-color: #484f4f !important;
    border-color: #484f4f !important;
}

.navbar-inverse .navbar-nav > li > a {
    background-color: #484f4f !important;
    border-color: #484f4f !important;
    color: #fff !important;
}

.navbar-nav > li {
    background-color: #484f4f !important;
    border-color: #484f4f !important;
    color: #fff !important;
}

.navbar-nav {
    background-color: #484f4f !important;
    border-color: #484f4f !important;
    color: #fff !important;
}

.navbar-inverse .navbar-brand {
    color: #fff !important;
}

/* Chessboard */
#chessboard {
    margin: 50px auto !important;
    margin-top: 90px !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#chessboard {
    padding: 0px;
    margin: 0 auto;
}

#chessboard tr td {
    width: 60px;
    height: 60px;
    border: 1px solid transparent;
}

#chessboard tr:nth-child(2n) td:nth-child(2n+1) {
    background: #616b6b;
}

    #chessboard tr:nth-child(2n) td:nth-child(2n) {
        background: #afb6b6;
    }

    #chessboard tr:nth-child(2n+1) td:nth-child(2n) {
        background: #616b6b;
    }

    #chessboard tr:nth-child(2n+1) td:nth-child(2n-1) {
        background: #afb6b6;
    }

.available-move {
    background-color: #563f46 !important;
}

.selected-field {
    border: 2px solid #000 !important;
}

th {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/*Message Board*/



/*GamePage*/
.textbox {
    margin: 200px auto !important;
    margin-top: -1px !important;
    margin-bottom: -90px !important;
    height: 200px;
    width: 400px;
    background-color: white;
    border: 2px solid #563f46;
    overflow: auto;
}

.form-control {
    margin: 200px auto !important;
    margin-top: -1px !important;
    margin-bottom: -90px !important;
    width: 400px;
}
/*GamePage Users*/
.firstuser {
    margin-top: 180px !important;
    margin-left: 110px;
    margin-bottom: 10px
}

.seconduser {
    margin-top: 100px !important;
    margin-left: 110px;
    margin-top: 10px
}

/*Winning + Annimation*/
.checkmate {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 120000;
}

.winning {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 280px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}

.checkmate > .before, .checkmate > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.checkmate > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-moz-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-o-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-ms-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-webkit-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-moz-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-o-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-ms-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

/*LogIN*/
.login-form {
    width: 340px;
    margin: 50px auto;
}

    .login-form form {
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .login-form h2 {
        margin: 0 0 15px;
    }

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.closeform {
    display: none;
}

.openform {
    display:block;
}


/*BTN*/
.btn {
    font-size: 15px;
    font-weight: bold;
}

.btn-group {
    margin-top: 6% !important;
    margin: auto;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
}

.loginbtn, .btn-login {
    background-color: #c8c3cc;
}

.signinbtn, .btn-signin, .btn-backhome {
    background-color: #563f46;
    color: #fff;
    font-weight: bold;
}

.signinbtn.hover, .signinbtn:hover, .signinbtn:active, .signinbtn.active, .backhome.hover, .backhome:hover, .backhome:active, .backhome.active {
    color: #fff !important;
}

 /*Icon*/
 .fa-marg {
    margin: 36%;
}

.fa-usersize {
    font-size: 20px;
    /*padding-top: 15px;*/
}

.fa-white {
    color: #fff;
}

.fa-rightmarg {
    margin-right: 5px;
}

.fa-leftmarg {
    margin-left: 5px;
}

/*FIGURES*/

td[data-figure=wp] {
    background-image: url(./img/figures/paw_white.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
}

td[data-figure=bp] {
    background-image: url(./img/figures/paw_black.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
}

td[data-figure=wq] {
    background-image: url(./img/figures/queen_white.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
}

td[data-figure=bq] {
    background-image: url(./img/figures/queen_black.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
}

td[data-figure=wr] {
    background-image: url(./img/figures/rook_white.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
}

td[data-figure=br] {
    background-image: url(./img/figures/rook_black.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
}

td[data-figure=wk] {
    background-image: url(./img/figures/king_white.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
}

td[data-figure=bk] {
    background-image: url(./img/figures/king_black.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
}

td[data-figure=wb] {
    background-image: url(./img/figures/bishop_white.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
}

td[data-figure=bb] {
    background-image: url(./img/figures/bishop_black.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
}

td[data-figure=wn] {
    background-image: url(./img/figures/knight_white.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
}

td[data-figure=bn] {
    background-image: url(./img/figures/knight_black.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
}

/*Learn Page */
.learnheader {
	font-weight: bold;
    font-size: 20px;
}

.learnheadertwo {
	font-style: italic;
    font-weight: bold;
}

.learntext {
	padding: 20px;
}

.learntexttwo{
	font-style: italic;
    margin-left: 30px;
}

.learnbox {
	background-color: white;
    padding: 20px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}

/*User Profile*/
.usebox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    background-color: #FFf;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 2px solid #484f4f;
}

/*DROPDOWN MENU*/
.dropdown-divider {
    border-top: solid 2px #d1d2d4;
}