<html>
<head>
    <title>Learn Chess</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="./../../Content/ourContent/mainPage.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <h1 style="text-align: center; margin-top:90px"><i class="fa  fa-info" style="font-size:24px"></i> Learn how to play chess: Rules and Basics </h1>

    <div class="learnbox">
        <dl>
            <dt class="learnheader">Step 1. How to Setup the Chessboard</dt>
            <dd class="learntext">At the beginning of the game the chessboard is laid out so that each player has the white (or light) color square in the bottom right-hand side. The chess pieces are then arranged the same way each time. The second row (or rank) is filled with pawns. The rooks go in the corners, then the knights next to them, followed by the bishops, and finally the queen, who always goes on her own matching color (white queen on white, black queen on black), and the king on the remaining square.</dd>
            <dt class="learnheader">Step 2. How the Chess Pieces Move</dt>
            <dd class="learntext">Each of the 6 different kinds of pieces moves differently. Pieces cannot move through other pieces (though the knight can jump over other pieces), and can never move onto a square with one of their own pieces. However, they can be moved to take the place of an opponent's piece which is then captured. Pieces are generally moved into positions where they can capture other pieces (by landing on their square and then replacing them), defend their own pieces in case of capture, or control important squares in the game.</dd>
            <dt class="learnheadertwo">How to Move the King in Chess</dt>
            <dd class="learntext">The king is the most important piece, but is one of the weakest. The king can only move one square in any direction - up, down, to the sides, and diagonally. The king may never move himself into check (where he could be captured). When the king is attacked by another piece this is called "check".</dd>
            <dt class="learnheadertwo">How to Move the Queen in Chess</dt>
            <dd class="learntext">The queen is the most powerful piece. She can move in any one straight direction - forward, backward, sideways, or diagonally - as far as possible as long as she does not move through any of her own pieces. And, like with all pieces, if the queen captures an opponent's piece her move is over. Notice how the white queen captures the black queen and then the black king is forced to move.</dd>
            <dt class="learnheadertwo">How to Move the Rook in Chess</dt>
            <dd class="learntext">The rook may move as far as it wants, but only forward, backward, and to the sides. The rooks are particularly powerful pieces when they are protecting each other and working together!</dd>
            <dt class="learnheadertwo">How to Move the Bishop in Chess</dt>
            <dd class="learntext">The bishop may move as far as it wants, but only diagonally. Each bishop starts on one color (light or dark) and must always stay on that color. Bishops work well together because they cover up each other's weaknesses.</dd>
            <dt class="learnheadertwo">How to Move the Knight in Chess</dt>
            <dd class="learntext">Knights move in a very different way from the other pieces - going two squares in one direction, and then one more move at a 90 degree angle, just like the shape of an "L". Knights are also the only pieces that can move over other pieces.</dd>
            <dt class="learnheadertwo">How to Move the Pawn in Chess</dt>
            <dd class="learntext">Pawns are unusual because they move and capture in different ways: they move forward, but capture diagonally. Pawns can only move forward one square at a time, except for their very first move where they can move forward two squares. Pawns can only capture one square diagonally in front of them. They can never move or capture backwards. If there is another piece directly in front of a pawn he cannot move past or capture that piece.</dd>
            <dt class="learnheader">Step 3. Discover the Special Rules of Chess</dt>
            <dd class="learntext">There are a few special rules in chess that may not seem logical at first. They were created to make the game more fun and interesting.</dd>
            <dt class="learnheadertwo">How to Promote a Pawn in Chess</dt>
            <dd class="learntext">Pawns have another special ability and that is that if a pawn reaches the other side of the board it can become any other chess piece (called promotion). A pawn may be promoted to any piece. A common misconception is that pawns may only be exchanged for a piece that has been captured. That is NOT true. A pawn is usually promoted to a queen. Only pawns may be promoted.</dd>
            <dt class="learnheadertwo">How to do "en passant" in Chess</dt>
            <dd class="learntext">The last rule about pawns is called "en passant," which is French for "in passing". If a pawn moves out two squares on its first move, and by doing so lands to the side of an opponent's pawn (effectively jumping past the other pawn's ability to capture it), that other pawn has the option of capturing the first pawn as it passes by. This special move must be done immediately after the first pawn has moved past, otherwise the option to capture it is no longer available. Click through the example below to better understand this odd, but important rule.</dd>
            <dt class="learnheadertwo">How to Castle in Chess</dt>
            <dd class="learntext">One other special chess rule is called castling. This move allows you to do two important things all in one move: get your king to safety (hopefully), and get your rook out of the corner and into the game. On a player's turn he may move his king two squares over to one side and then move the rook from that side's corner to right next to the king on the opposite side. (See the example below.) However, in order to castle, the following conditions must be met:</dd>
            <dd class="learntexttwo">- it must be that king's very first move</dd>
            <dd class="learntexttwo">- it must be that rook's very first move</dd>
            <dd class="learntexttwo">- there cannot be any pieces between the king and rook to move</dd>
            <dd class="learntexttwo">- the king may not be in check or pass through check</dd>
            <dd class="learntext">Notice that when you castle one direction the king is closer to the side of the board. That is called castling "kingside". Castling to the other side, through where the queen sat, is called castling "queenside". Regardless of which side, the king always moves only two squares when castling.</dd>
            <dt class="learnheader">Step 4. Find out Who Makes the First Move in Chess</dt>
            <dd class="learntext">The player with the white pieces always moves first. Therefore, players generally decide who will get to be white by chance or luck such as flipping a coin or having one player guess the color of the hidden pawn in the other player's hand. White then makes a move, followed by black, then white again, then black and so on until the end of the game. Being able to move first is a tiny advantage which gives the white player an opportunity to attack right away.</dd>
            <dt class="learnheader">Step 5. Review the Rules of How to Win a Game of Chess</dt>
            <dd class="learntext">There are two ways to end a game of chess</dd>
            <dt class="learnheadertwo">How to Checkmate in Chess</dt>
            <dd class="learntext">The purpose of the game is to checkmate the opponent's king. This happens when the king is put into check and cannot get out of check. There are only three ways a king can get out of check: move out of the way (though he cannot castle!), block the check with another piece, or capture the piece threatening the king. If a king cannot escape checkmate then the game is over. Customarily the king is not captured or removed from the board, the game is simply declared over.</dd>
            <dt class="learnheadertwo">How to Draw a Chess Game</dt>
            <dd class="learntext">Occasionally chess games do not end with a winner, but with a draw. There are 5 reasons why a chess game may end in a draw:</dd>
            <dd class="learntexttwo">- The position reaches a stalemate where it is one player's turn to move, but his king is NOT in check and yet he does not have another legal move</dd>
            <dd class="learntexttwo">- The players may simply agree to a draw and stop playing</dd>
            <dd class="learntexttwo">- There are not enough pieces on the board to force a checkmate (example: a king and a bishop vs.a king)</dd>
            <dd class="learntexttwo">- A player declares a draw if the same exact position is repeated three times (though not necessarily three times in a row)</dd>
            <dd class="learntexttwo" style="margin-bottom:10px">- Fifty consecutive moves have been played where neither player has moved a pawn or captured a piece</dd>
            <dt class="learnheader">Step 6. Study Basic Chess Strategies</dt>
            <dd class="learntext">There are four simple things that every chess player should know:</dd>
            <dt class="learnheadertwo">Protect your King</dt>
            <dd class="learntext">Get your king to the corner of the board where he is usually safer. Don't put off castling. You should usually castle as quickly as possible. Remember, it doesn't matter how close you are to checkmating your opponent if your own king is checkmated first!</dd>
            <dt class="learnheadertwo">Don't Give Pieces Away</dt>
            <dd class="learntext">Don't carelessly lose your pieces! Each piece is valuable and you can't win a game without pieces to checkmate. There is an easy system that most players use to keep track of the relative value of each chess piece. How much are the chess pieces worth?</dd>
            <dd class="learntexttwo">- A pawn is worth 1</dd>
            <dd class="learntexttwo">- A knight is worth 3</dd>
            <dd class="learntexttwo">- A bishop is worth 3</dd>
            <dd class="learntexttwo">- A rook is worth 5</dd>
            <dd class="learntexttwo">- A queen is worth 9</dd>
            <dd class="learntexttwo">- The king is infinitely valuable</dd>
            <dd class="learntext">At the end of the game these points don't mean anything – it is simply a system you can use to make decisions while playing, helping you know when to capture, exchange, or make other moves.</dd>
            <dt class="learnheader">Step 7. Practice by Playing Lots of Games</dt>
        </dl>
    </div>

</body>
</html>